.product-item {
    .product-item-content {
        border-radius: 30px;
        box-shadow: 0 0 5px 0 cornflowerblue;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;

        &:hover {
            font-weight: bold;
            color: cornflowerblue;
            border: 0.5px solid cornflowerblue var(--surface-d);
            box-shadow: inset 0 0 20px 0 rgb(176, 122, 226);
            cursor: pointer;
        }
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.img {
    width: 10em;
    height: 7em;
}
